*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #3cb4fc; 
}

header{
    height: 120px;
    width: 100%;
    background-color: white;
}

header h1{
    display: inline-block;
    font-size: 4em;
}

.logo-title img, .logo-title h1{
    vertical-align: middle;
}

.logo-title{
    line-height: 120px;
    padding-left: 50px;
}

.container{
    width: 60%;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

/* inizio parte di button */

.button-box{
    height: 55px;
    border-bottom: 1px solid lightgray;
}

.button-center{
    line-height: 55px;
    padding-left: 50px;
}

.button-center button{
    padding: 5px 10px;
    border-radius: 7px;
    vertical-align: middle;
    border: 0.2px solid lightsteelblue;
}

.blue-button{
    background-color: #3cb4fc;
}

.white-button{
    background-color: white;
}

/* inizio lista */

.list{
    width: 100%;
}

.list-text{
    font-size: 1.2em;
    margin: 12px 0;
}

.list-box{
    padding: 30px 50px;
}

.list-element{
    padding: 10px 0;
}

.list-element h1::before{
    content: "\2713  ";
}

.list-text.yes span{
    color: green;
    border: 1px solid green;
    font-size: 15px;
}

.list-text.not span{
    color: red;
    border: 1px solid red;
}

.list-text span{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
}

/* assegno un contentuto per ogni list-text */

.list-text.one::after{
    content: "Editorial";
    font-size: 0.7em;
    background-color: #3cb4fc;
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
}

.list-text.two::after{
    content: "Editorial";
    font-size: 0.7em;
    background-color: #3cb4fc;
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
}

.list-text.three::after{
    content: "Q1 Goals";
    font-size: 0.7em;
    background-color: #ac5ce5;
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
}

.list-text.four::after{
    content: "Recruiting";
    font-size: 0.7em;
    background-color: #2ac6ab;
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
}

.list-text.five::after{
    content: "Mobile";
    font-size: 0.7em;
    background-color: #f99b04;
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
}

.list-text.seven::after{
    content: "Website";
    font-size: 0.7em;
    background-color: #eb4a9c;
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
}

.list-text.eight::after{
    content: "Sales";
    font-size: 0.7em;
    background-color: #a4d012;
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
}

.list-text.nine::after{
    content: "Editorial";
    font-size: 0.7em;
    background-color: #3cb4fc;
    color: white;
    padding: 5px 8px;
    border-radius: 15px;
}
